@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}
a{
  text-decoration: none ;
  color:#fff;
  transition:0.3s; 
}
ul{
  list-style:none;
}
img{
  max-width: 100%;
}
body{
  font-family: 'Lexend', sans-serif;
  font-size:16px;
  line-height:24px; 
  background-color:#202020;
}
.container{
  width: 1170px;
  margin:auto;
}

/*---------------------------Header---------------------------*/

.header-area{
  padding:25px 0;
  transition: padding .3s;
}

.header-area.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #202020;
  padding: 5px;
}

.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
} 
.logo {
  display: flex;
  align-items: center;
  position: relative; 
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 700;
}

.logo .fa-briefcase {
  color: #fed700;
  font-size: 25px;
  position: absolute; 
  top: 60%;
  left: 100%; 
  transform: translate(-50%, -50%); 
}

.signature {
  width: 250px; 
  height:auto; 
  margin-right: 10px; 
}

.header ul{
  display: flex;
  align-items: center; 
}
.header ul li{
  margin: 0 15px;
}
.header ul li a:hover{
  color:#fed700;
}
.header .menu_icon{
  color:#fff;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

/*---------------------------Home--------------------------*/

.FirstElement{
   display:flex;
   justify-content: space-around;
   align-items: center;
   padding-top: 5rem; 
} 

.FirstElement .profile-photo{
  width: 450px;
  height:  450px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #444444;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
  transform: translateX(200px);
  margin-top: -30px;
}

.profile-text h1{
  color: #fed700;
  font-size: 3rem; 
}

/*---------------------------About---------------------------*/

.about-area{
  padding-top: 130px;
}
.about-content h4{
  color: #fed700;
  font-size: 40px;
  line-height: 70px;
}

/*---------------------------Buttons---------------------------*/

.btn-group{
  margin: 45px 0;
}
.btn{
  background:#333;
  padding:12px 25px;
  border-radius:30px;
  border:2px solid #e5e5e5;
}
.btn.active{
  border-color:#fed700;
}

/*---------------------------Education---------------------------*/

.education-content .row{
  display:flex;
  border-radius:5px;
  height:auto;
  margin-bottom:60px;
}

.education-content h3.title{
  font-size:40px;
  line-height:70px;
  margin-bottom:30px;
  font-weight:700;
  color:#fed700;
  text-transform:capitalize;
}

/*---------------------------Projects---------------------------*/

.project-content{
  padding:90px 0;
}
.project-title h4{
  font-size:40px;
  color:#fed700;
}

/*---------------------------Contact---------------------------*/

.contact-content{
  padding:100px 0;
}

/*---------------------------Footer---------------------------*/

.footer{
  padding:20px 0;
}

/*---------------------------Responsive---------------------------*/

@media(max-width:767px){
  .education-content .row{
    flex-direction:column;
    margin-bottom:50px;
  }
}
